.home-split {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sessions {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding-top: 1rem;
  }